{% extends 'event/layout.html' %}

{% block custom_style %}
    .container {
        margin-top: 100px;
    }
    .text-center {
        margin-top:50px;
    }
{% endblock %}

{% block main %}
<div class="container">
    <div class="text-center">
        <h1>{{ event.event_name }}</h1>
        <p>주최자: {{ event.genre }} - {{ event.creator }}</p>
        <p>주최자 프로필 사진:</p> <img src="{{ event.creator.creator_photo.url }}" alt="사진있어라" style="width:300px">
    </div>
    <br>
    <div class="text-center">
        <p>댓글</p>
    </div>
    <div class="text-center">
    {% for comment in comments %}
        <b>{{comment.member.nickname}}</b> : {{comment.comment_text}}              
        <small>{{comment.created_at}}</small> <br>
    {% endfor %}
    <a href="{% url 'event:comment_detail' creator.pk %}">전체 댓글</a>
    </div>
</div>
{% endblock %}
