{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'event/css/creator_detail.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}
<!--header-->
{% if event.genre == 'Busking' %}
    <div class='header'style="background: url('{% static 'event/img/busking.jpg' %}') no-repeat; 
    background-size: 100% auto; height:350px;"> 
{% elif event.genre == 'Flee' %}
    <div class='header'style="background: url('{% static 'event/img/fleamarket.jpg' %}') no-repeat; 
    background-size: 100% auto; height:350px"> 
{% else %}
    <div class='header'style="background: url('{% static 'event/img/exhibition.jpg' %}') no-repeat; 
        background-size: 100% auto; height:350px"> 
{% endif %}
    <div class='flex-item'>
    {% if event.genre == 'Busking' %}
        <p id='genre'>Busking</p>
    {% elif event.genre == 'Flee' %}
        <p id='genre'>Flea Market</p>
    {% else %}
        <p id='genre'>Exhibition</p>
    {% endif %}
        <p id='creator_name'>{{ event.creator.creator_name }}</p>
    </div>
</div>

<!--content-->
<div class="wrapper">
    <div class="container first_content">
        <div class="row">
            <div class="col-lg-6 col-md-12 content_1">
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="4000">
                        {% for event_image in images %}
                            <img src="{{ event_image.image.url }}" alt="background" style="">
                            {% if not forloop.last %}
                            </div>
                            <div class="carousel-item">  
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 content_2">
                <div class="grid-item">
                    <h2>EVENT INFORMATION</h2>
                    <br>
                    <p id="event_name">{{event.event_name}}</p>
                    <p id="event_desc">{{event.desc|linebreaksbr}}</p>
                    <p>일시: {{event.start_date_time}} ~ {{event.end_date_time}}</p>
                    <p>장소: {{event.location.city}} {{event.location.gu}} {{event.location.rest_address}}</p>
                    <p id='tag_name'>
                    {% for tag in tags %}
                        #{{tag.name}}
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container history">
    <h2>{{event.creator.creator_name}}'s EVENT HISTORY</h2>
    <br>
    {% for creator_event in events %}
        <h5>{{creator_event.event_name}}</h5>
        <p>{{creator_event.desc}}</p>
        <p>일시: {{creator_event.start_date_time}} ~ {{creator_event.end_date_time}}</p>
        <p>장소: {{creator_event.location.city}} {{creator_event.location.gu}} {{creator_event.location.rest_address}}</p>
        <img src="{{creator_event.}}" alt="">
        {% if not forloop.last %}
        <hr>
        {% else %}
        <br>
        {% endif %}
    {% endfor %}
</div>
<hr>
<div class="container comment_list">
    <div class="row">
        <h2>{{event.creator.creator_name}}'s REVIEW</h2>
    </div>
    <br>
    <div class="row">
        <div class="col"><img src="{% static 'event/img/user1.png' %} " alt="" class='comment_user'></div>
        <div class="col"><p>말풍선 테스트</p></div>
    </div>
    <div class="row">
        {% for comment in comment_3 %}
        <div class="row"><div class="col">
            <b>{{comment.member.nickname}}</b> : {{comment.comment_text}}              
            <small>{{comment.created_at}}</small></div> <br>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% if comment_num > 3 %}
            <a href="{% url 'event:comment_detail' creator.pk %}">더보기</a>
        {% else %}
            <a href="{% url 'event:comment_detail' creator.pk %}">후기 작성하러가기</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block injiscript %}
    <script> 
    $('.carousel').carousel({interval: 2000,})
    </script>
{% endblock %}