{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'event/css/register.css' %}">
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
    <div class="registering" stlye="margin-top: 200px;">
        <h1>이벤트 등록하기</h1>
        <h4>{{ creator.creator_name }}님의 개성있는 이벤트를 등록해주세요</h4>
        <form id="event_form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form|linebreaks }}
                {{ formset.management_form }}
                <label for="sdt">이벤트 시작 날짜/시간 : </label>
                <input id="sdt" type="datetime-local" name="start_date_time"/>
                <label for="edt">이벤트 종료 날짜/시간 : </label>
                <input id="edt" type="datetime-local" name="end_date_time"/>

                {% for imageform in formset %}
                    {{ imageform|linebreaks }}
                {% endfor %}
            <label for="tag_input">태그(많이 할수록 검색에 잘 걸려요!)</label>
            <input id="tag_input" name="tag" type="text" size=100 placeholder="ex) 플리마켓, 목걸이, 감성, 가성비">
            <br>
            <div class="location_form_section">
                {{ location }}
            </div>
            <div class="wrap">
                <div class="choose_section">
                    <div class="choose_city">
                        <label for="city">도시 선택</label>
                        <select
                            name="city"
                            id="city"
                            onchange="addressKindChange(this)"
                            class="selected_city"
                        >
                            <option>도시를 선택해주세요</option>
                            <option value="서울특별시">서울특별시</option>
                        </select>
                    </div>
                    <div class="choose_gu" style="margin-top: 1rem;">
                        <label for="gu">구 선택</label>
                        <select name="gu" id="gu" class="selected_gu">
                            <option>구를 선택해주세요</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary search_btn" onclick="map_reset(this)">검색</button>
                </div>
                <div class="map_wrap">
                    <div id="map"></div>
                        <div class="hAddr">
                            <span class="title">지도중심기준 행정동 주소정보</span>
                            <span id="centerAddr"></span>
                        </div>
                </div>
            </div>
            <input id="enroll_btn" type="submit" value="이벤트 등록">
        </form>
    </div>
    {% else %}
        <script type="text/javascript">
            alert('로그인이 필요합니다')
            window.location.href = '{% url "login:login" %}';
        </script>
    {% endif %}
{% endblock %}


{% block jinheescript %}
<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4be94fffa6f06598b351be42b3a70113&libraries=services"
></script>
<script src={% static 'event/js/register.js' %}>

</script>
{% endblock %}
