{% extends 'base.html' %}
{% load static %}

{% block main %}
    <br><br>
    <p>지금 날짜 : {{ today_date }}</p><br>
    <p>지금 날짜 및 시간 : {{ today_date_time }}</p><br>

    <p>------아직 시작 안한 이벤트---------</p>
    {% for not_yet_event in not_yet_events.all %}
        {{ not_yet_event.event_name }}<br>
        {{ not_yet_event.start_date_time}}<br><br>
    {% endfor %}

    <p>-------진행중인 이벤트-------------</p>
    {% for ing_event in ing_events.all %}
        {{ ing_event.event_name }}<br>
        {{ ing_event.start_date_time}} ~ {{ ing_event.end_date_time }}<br><br>
    {% endfor %}

    <p>----------종료한 이벤트------------</p>
    {% for end_event in end_events.all %}
        {{ end_event.event_name }}
        {{ end_event.start_date_time}}
    {% endfor %}
{% endblock %}