{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'comment/css/comment.css' %}">
{% endblock %}


{% block main %}
<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h1>Visitor Book</h1><br>
</div>

<div class="container">
    <div class="row" id='comment_list'>
        <div class="col">
        <ul>
        {% for comment in comments %}
            <li>{{ comment.member.nickname }}님의 댓글 : {{ comment.comment_text }} </li>
            
            {% if comment.comment_photo %}
                <li><img src="{{comment.comment_photo.url}}" style='max-width:300px'></li>
            {% endif %}
                
            {% if comment.member == request.user %}
                <a href="{% url 'comment:comment_delete' comment.id %}">삭제</a>
                <a href="{% url 'comment:comment_update' comment.id %}">수정/</a>
            {% endif %}
            <li id='create_at'>{{comment.created_at}}</li>
            <hr>
        {% endfor %}
        </ul> 
        </div>
    </div>
    <hr>
    <div class="row" id='comment_create'>
        <div class="col">
        <form method="POST" action=''>
            {% csrf_token %}
            {{ comment_form }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}