
<div class="single_comment">
    <div class='row flex-container'>
        <div id="content" class='flex-item'><b>'{{ comment.member.nickname }}'님 :</b> <span id='comment_text_{{comment.pk}}'>{{ comment.comment_text }}</span> </div>
        <div id="del_btn" class='flex-item-gnb'>
            {% if comment.member == username %} <!-- 댓글작성자:{{comment.member}} , 접속자:{{username}}-->
                {% comment %} <a href="{% url 'comment:comment_update' comment.id %}" class="btn btn-warning btn-sm btn_comment_update">수정</a> {% endcomment %}
                <a href="{% url 'comment:comment_delete' comment.id %}" class="btn btn-sm btn-outline-success btn_comment_delete">삭제</a>
            {% elif comment.member == request.user %}
                {% comment %} <a href="{% url 'comment:comment_update' comment.id %}" class="btn btn-warning btn-sm btn_comment_update">수정</a> {% endcomment %}
                <a href="{% url 'comment:comment_delete' comment.id %}" class="btn btn-sm btn-outline-success btn_comment_delete">삭제</a>
            {% endif %}
        </div>
    </div>
    {% if comment.comment_photo %}
    <div class='row'><img src="{{comment.comment_photo.url}}" style='max-width:300px' id="comment_photo_{{comment.pk}}"></div>
    {% endif %}
    <div class='row' id='create_at'><small>{{comment.created_at}}</small></div>
    <div class='row recomment_area'>
        <button id='recomment_btn_{{comment.id}}' class="btn btn-outline-success btn-sm">대댓글</button>
      
        <div class='row recomment_form' id='recomment_form_{{comment.id}}'>
            <div class="container recomment_list" id="recomment_list_{{comment.id}}">
            {% for recomment in comment.recomment_set.all %}
                {% include 'comment/recomment_create.html' %}
            {% endfor %}
            </div>

            <div class="container">
                {% comment %} <div id="comment_pk_section" type='hidden'>{{comment.pk}}</div> {% endcomment %}
                <form class='row' action="{% url 'comment:recomment_create_ajax' comment.id %}" enctype='multipart/form-data' method='POST' id="recommentForm_{{comment.pk}}">
                    {% csrf_token %}
                    <input type="hidden" name='is_ajax2' value=''>
                    <div class="col-7">{{ recomment_form.recomment_text }}</div>
                    <div class="col-4">{{ recomment_form.recomment_photo }}</div>
                    <div class="col-1"><input type="submit" class="btn btn-primary" value='OK' id='recomment_submit_btn'></div>
                </form>
                <div class="fold_row row"><button id="recomment_fold_{{comment.id}}" class='btn btn-outline-success btn-sm'>접기</button></div>
            </div>
        </div>

    </div>
    <hr>
</div>

<script>
    $("#comment_list").scrollTop($("#comment_list")[0].scrollHeight);

    let recobtn_{{comment.id}} = $('#recomment_btn_{{comment.id}}')
    let fold_btn_{{comment.id}} = $('#recomment_fold_{{comment.id}}')
    
    $('#recomment_form_{{comment.id}}').hide()
    recobtn_{{comment.id}}.click(function(){
        $('#recomment_form_{{comment.id}}').toggle()
    })
    
    fold_btn_{{comment.id}}.click(function(){
    $('#recomment_form_{{comment.id}}').hide()
    })
    
    
</script>
<script>
// 대댓글 생성
    $('#recommentForm_{{comment.pk}}').submit(function(e){
        e.preventDefault()
        e.stopPropagation()

        $('input[name="is_ajax2"]').val("1");

        url = $(this).attr('action');
        var formData = new FormData(this);
        $.ajax({
            url:url,
            method:"POST",
            data:formData,
            processData: false,
            contentType: false,

        }).done(function(data) {
            $('#recomment_list_{{comment.id}}').append(data.html);
            // is_ajax2 값 초기화
            $('#recommentForm_{{comment.pk}} input[name="is_ajax2"]').val("");
            $('#recommentForm_{{comment.pk}} #id_recomment_text').val("");
            $('#recommentForm_{{comment.pk}} #id_recomment_photo').val("");
        })
        return false;
    });
</script>

<script>
// 대댓글 삭제
$('.btn_recomment_delete_{{comment.pk}}').click(function(e) {
    e.preventDefault();
    var input = confirm('대댓글을 삭제하시겠습니까?');
    if (input==true) {
        alert('대댓글을 삭제하였습니다.');
        recomment = $(this).parents('#single_recomment');
        url = $(this).attr('href')+"?is_ajax=1"; // ajax 호출임을 구분할 수 있게 값 추가
        $.ajax({
            url:url
        }).done(function(data) {
            if (data.works) {
                console.log(recomment)
                recomment.remove(); // 해당 객체 지우기
            }
        });
    }
});
</script>
{% comment %} <script src="{% static 'comment/js/create2.js' %}"></script> {% endcomment %}


    