{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'comment/css/comment.css' %}">
{% endblock %}


{% block main %}
<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h1>Visitor Book</h1><br>
</div>

<div class="container" id='comment_list' class="custom-scrollbar-js p-2">  
    {% for comment in comments %}
        {% include 'comment/comment_create.html' %}

    {% endfor %}
    

        
</div>
    <hr>
<div class="container">
    <div class="col comment_submit">
    <form class="row" method="POST" action="{% url 'event:comment_create_ajax' creator.pk %}" enctype='multipart/form-data' id='comment_form'>
        {% csrf_token %}
        <input type="hidden" name='is_ajax' value=''>
        <input type="hidden" name='comment_writer' value='{{request.user.pk}}'>
        <div class="col-md-7 col-sm-12">{{ comment_form.comment_text }}</div>
        <div class="col-md-4 col-sm-12">{{ comment_form.comment_photo }}</div>
        <div class='col-md-1 col-sm-12'><input type="submit" class="btn btn-primary" value='댓글 입력' id='comment_submit_btn' ></div>
        
        <br>
        
    </form>
    <br/>
    </div>
</div>
<br/>
{% endblock %}

{% block injiscript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'comment/js/create.js' %}"></script>

{% endblock %}