a { color:rgb(40,0,0); text-decoration:none; font-size:small; float:right;}
a:hover { color: black; text-decoration:none;}
li { list-style:none; }
#wrapper {
    width:100%;
}
/* ---------------------------------------------------------- */

/* 제목 */
.signup_title {
    color: #dd445b;
}


/* container 내부 여백 주기 */
.row {
    margin-left: 20px;
    margin-right:20px;
}


/* 댓글 리스트 */
#comment_list {
    border-radius: 25px;
    border: 1px dashed #dd445b;
    margin: 0 auto;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
    min-height:580px;
    max-height:580px;
    overflow-y:auto;
    padding:10px;  
    font-size: 1rem;
}



/* scrollbar */
#comment_list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    border-radius: 25px;
}
#comment_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.089);
    border-radius: 25px;
}
#comment_list::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #dd445b57;
    outline: 1px solid  #dd445b2a;
}
/* ------------------------------------------------------- */


/* 댓글 + 삭제버튼 정렬 */
.flex-container {
    display: flex;
}
.flex-item {
    flex:none;
}
.flex-item-gnb {
    margin-left: auto;
}


/* 폰트 크기 조절 */
#content {
    font-size:1.1rem;
}
#create_at {
    font-size:small;
    margin-bottom:5px;
}


/* 댓글마다 간격 주기 */
.single_comment {
    margin-bottom:10px;
}

.recomment_area .btn {
    max-height: 38px;
}


/* 삭제 버튼 */
.btn_comment_delete {
    color:white;
    background-color:#fd8b83;
    border: #fd8b83;
    
}
.btn_comment_delete:hover {
    background-color:#fd8b83;
    border: #fd8b83;
    color:white;
}

/* 댓글, 대댓글 제출 버튼 */
.btn-primary {
    background-color:#fd8b83;
    border:#fd8b83;
}
.btn-primary:hover {
    background-color:#dd445b;
    border:#dd445b;
}

/* 대댓글 접기 버튼 */
.fold_row {
    text-align: center;
}
.fold_row button{
    margin:0 auto;
    margin-top: 10px;
}


/* 댓글 작성 폼- 파일선택 세로 중앙 정렬 */
#id_comment_photo, #id_recomment_photo{
    line-height: 2rem;
}


/* -------------------대댓글----------------------- */

.recomment_form {
    width: 100%;
}

.recomment_form .container {
    padding-left:30px;
}

/* 대댓글 scroll */
.recomment_list {
    max-height:300px;
    overflow-y:auto;
}

.recomment_list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    border-radius: 25px;
}
.recomment_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.089);
    border-radius: 25px;
}
.recomment_list::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #dd445b57;
    outline: 1px solid  #dd445b2a;
}

/* 댓글 제출 폼 정렬 */
.comment_submit, .recomment_submit {
    text-align:center;
}
.recomment_submit {
    width:100%;
}