main {
    /*background-color: yellow;*/
    background-image: url("/static/img/이건가.jpg");
    background-size: cover;

}

.creating {
    width: 520px;
    height: 560px;
    margin-left: 55%;
    /*margin-bottom: 30px;*/
    float: right;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 20px;
    background-color: white;
    margin-top: 30px;
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
}

button {
    background-color: lightgray;
}

#enroll_btn:hover {
    background-color: #0080ff;
}