table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid dimgray;
    margin: 20px 10px;
}

table.type03 th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: dimgray;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

table.type03 td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

button a {
    text-decoration: none !important;
    color: white !important;
}


.contents button {
    text-align: center !important;
    margin-top: 50px;
    height: 45px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightgray;

}

.contents button:hover {
    background-color: darkgray;
}
