{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
<link rel="stylesheet" href="{% static 'login/creator.css' %}">
{% endblock %}

{% block main %}
<div class="mypage_title">
    <h2>Creator page</h2>
    <p>나의 크리에이터 정보를 확인할 수 있습니다.</p>
</div>
<div class="contents">
    <table class="additional_info">
        <tr>
            <td><b>크리에이터명</b></td>
            <td>{{ creator.creator_name }}</td>
        </tr>
        <tr>
            <td><b>크리에이터 사진</b></td>
            <!--            <td>{{ creator.creator_photo }}</td>-->
            <td><img src="{{ creator.creator_photo.url }}" alt="creator photo"></td>
        </tr>
        <tr>
            <td><b>개인/팀 소개</b></td>
            <td>{{ creator.desc }}</td>
        </tr>
    </table>



    <button type="button">
        <a href="{% url 'login:creator_update' creator.pk %}">수정하기</a>
    </button>
    <button type="button">
        <a href="{% url 'login:main' %}">메인으로</a>
    </button>
    <button type="button">
        <a href="{% url 'event:event_register' %}">이벤트 등록</a>
    </button>
    <br/><br/>
    <hr/>

</div>
<h1>내 이벤트 한 눈에 보기</h1>
<h5>각 이벤트를 수정하거나 삭제할 수 있습니다</h5>
<br><br><br>
<div class="row" id="event_row">
    
    <div class="creator_event">
    {% for event in events %}
            <div class="col-12 col-md-6" id="event_info">
                <tr>
                    <!-- <td><b>이벤트 이름</b></td> -->
                    <td><h3>{{ event.event_name }}</h3></td>
                </tr>
                <hr>
                <tr>
                    <td><b>장르</b></td>
                    <td>{{ event.get_genre_display }}</td>
                </tr>
                <br>
                <tr>
                    <td><b>이벤트 장소</b></td>
                    <td>{{ event.location.city }} {{ event.location.gu }} {{ event.location.rest_address }}</td>
                </tr>
                <br><br>
                <tr>
                    <td><b>시작 시간</b></td>
                    <td>{{ event.start_date_time }}</td>
                </tr>
                <br>
                <tr>
                    <td><b>종료 시간</b></td>
                    <td>{{ event.end_date_time }}</td>
                </tr>
                <br><br>
                <tr>
                    <td>
                        <img src="{{ event.eventimage_set.all.first.image.url }}" class="event_img" alt="event photo">
                    </td>
                </tr>
                <hr>
                    <a href="{% url 'event:event_delete' event.pk %}" >
                        <button type="button" class="event_delete_btn" id="delete_event">
                            삭제하기
                        </button>
                    </a>
                    <a href="{% url 'login:event_update' event.pk %}">
                        <button type="button" id="event_btn">수정하기
                        </button>    
                        </a>                
            </div>
    {% endfor %}
</div>
</div>
</div>
<br/>
<hr/>
<div id="user_pk_section" style="display:none">{{user.pk}}</div>
<div class="delete_creator">
    <a href="{% url 'login:creator_delete' user.pk %}" id="delete_creator">
        <button type="button">
            크리에이터 계정 삭제
        </button>
    </a>
</div>
{% endblock %}

{% block hanseokscript %}
<script>
    // let user_pk_tag = document.querySelector('#user_pk_section')
    // let user_pk = user_pk_tag.textContent
    // let returnUrl = '/login/' + user_pk + '/creator/'

    let delete_creator = document.querySelector('#delete_creator')

    delete_creator.onclick = function (e) {
        let confirm_result = confirm("정말 크리에이터를 지우시겠습니까?\n※주의※ 되돌릴 수 없습니다.");
        if (confirm_result === false) {
            //return true
            //document.querySelector('#delete_creator').setAttribute('href', returnUrl)
            e.preventDefault()   //이게 더 많이 쓰이는 방법이라고 함.
        }
    }

    // let delete_event = Array.from(document.querySelectorAll('.event_delete_btn'))
    // let confirm_result = confirm('정말 이벤트를 지우시겠습니까?\n※주의※ 되돌릴 수 없습니다.');

    // for(let i=0; i<delete_event[i].length;i++){
    //     delete_event[i].addEventListener('click',function(e){
    //         confirm_result
    //         e.preventDefault()
    //         console.log(e)
    // })
    let delete_event = document.querySelector('#delete_event')

    delete_event.onclick = function (e) {
        let confirm_result = confirm('정말 이벤트를 지우시겠습니까?\n※주의※ 되돌릴 수 없습니다.');
        if (confirm_result === false) {
            e.preventDefault()
        }
    }

</script>
{% endblock %}

