{% extends 'base.html' %}

{% block main %}

<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h3 style="color: #0080ff;">Sign up</h3>
    <p>추가 정보를 입력하시면 가입이 완료됩니다</p>
</div>
<br/>
<div class="signup_form">
    <form method="post" enctype="multipart/form-data" autocomplete="off" style="margin: 0 auto;">
        {% csrf_token %}
        <!--        <table class="table table-bordered">-->
        <!--            {{ user.as_table }}-->
        <!--        </table>-->
        <table class="additional_info">
            <tr>
                <td>닉네임</td>
                <td><input type="text" name="nickname" value="{{user.nickname}}" required/></td>
            </tr>
            <tr>
                <td>선호도시</td>
                <td><label>
                    <select name='city'>
                        <optgroup label='시'>
                            <option value='Seoul'>서울특별시</option>
                        </optgroup>
                    </select>
                </label></td>
            </tr>
            <tr>
                <td>선호구</td>
                <td><label>
                    <select name='gu'>
                        <optgroup label='구'>
                            <option value='Gangnam'>강남구</option>
                            <option value='Songpa'>송파구</option>
                            <option value='Seocho'>서초구</option>
                            <option value='Gangdong'>강동구</option>
                            <option value='Gwanak'>관악구</option>
                            <option value='Yeongdeung'>영등포구</option>
                            <option value='Gangseo'>강서구</option>
                            <option value='Yangcheon'>양천구</option>
                            <option value='Guro'>구로구</option>
                            <option value='Geumcheon'>금천구</option>
                            <option value='Jongno'>종로구</option>
                            <option value='Jung'>중구</option>
                            <option value='Dongdaemun'>동대문구</option>
                            <option value='Jungrang'>중랑구</option>
                            <option value='Mapo'>마포구</option>
                            <option value='Yongsan'>용산구</option>
                            <option value='Seongdong'>성동구</option>
                            <option value='Gwangjin'>광진구</option>
                            <option value='Eunpyeong'>은평구</option>
                            <option value='Seodaemun'>서대문구</option>
                            <option value='Seongbuk'>성북구</option>
                            <option value='Gangbuk'>강북구</option>
                            <option value='Dobong'>도봉구</option>
                            <option value='Nowon'>노원구</option>


                        </optgroup>
                    </select>
                </label></td>
            </tr>
        </table>

<!--        선호도시:-->
<!--        <label>-->
<!--            <select name='city'>-->
<!--                <optgroup label='시'>-->
<!--                    <option value='Seoul'>서울특별시</option>-->
<!--                </optgroup>-->
<!--            </select>-->
<!--        </label>-->
<!--        선호구:-->
<!--        <label>-->
<!--            <select name='gu'>-->
<!--                <optgroup label='구'>-->
<!--                    <option value='Gangnam'>강남구</option>-->
<!--                    <option value='Songpa'>송파구</option>-->
<!--                    <option value='Seocho'>서초구</option>-->
<!--                    <option value='Gangdong'>강동구</option>-->
<!--                    <option value='Gwanak'>관악구</option>-->
<!--                    <option value='Yeongdeung'>영등포구</option>-->
<!--                    <option value='Gangseo'>강서구</option>-->
<!--                    <option value='Yangcheon'>양천구</option>-->
<!--                    <option value='Guro'>구로구</option>-->
<!--                    <option value='Geumcheon'>금천구</option>-->
<!--                    <option value='Jongno'>종로구</option>-->
<!--                    <option value='Jung'>중구</option>-->
<!--                    <option value='Dongdaemun'>동대문구</option>-->
<!--                    <option value='Jungrang'>중랑구</option>-->
<!--                    <option value='Mapo'>마포구</option>-->
<!--                    <option value='Yongsan'>용산구</option>-->
<!--                    <option value='Seongdong'>성동구</option>-->
<!--                    <option value='Gwangjin'>광진구</option>-->
<!--                    <option value='Eunpyeong'>은평구</option>-->
<!--                    <option value='Seodaemun'>서대문구</option>-->
<!--                    <option value='Seongbuk'>성북구</option>-->
<!--                    <option value='Gangbuk'>강북구</option>-->
<!--                    <option value='Dobong'>도봉구</option>-->
<!--                    <option value='Nowon'>노원구</option>-->


<!--                </optgroup>-->
<!--            </select>-->
<!--        </label>-->
        <button type="submit"
                style="margin: 0 auto; text-align: center!important; margin-top: 50px;  height: 50px; width: 130px; border:none; border-radius: 10px;color: white; ">
            저장
        </button>
        <br/><br/><br/><br/>
        <hr>
        <br/><br/>
    </form>
</div>
{% endblock %}