{% extends 'base.html' %}

{% block main %}

<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h3 style="color: #0080ff;">Sign up</h3>
    <p>추가 정보를 입력하시면 가입이 완료됩니다</p>
</div>
<br/>
<div class="signup_form">
    <form method="post" enctype="multipart/form-data" autocomplete="off" style="margin: 0 auto;">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
        </table>
        <button type="submit"
                style="text-align: center!important; margin-left: 45%;  height: 50px; width: 130px; border:none; border-radius: 10px;color: white; ">
            저장
        </button>
        <br/><br/><br/><br/>
        <hr>
        <br/><br/>
    </form>
</div>
{% endblock %}