{% extends 'base.html' %}
{% load static %}

{% block custom_style %}
<link rel="stylesheet" href="{% static 'login/mypage.css' %}">
{% endblock %}

{% block main %}
<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h2 style="color: #dd445b ;">My page</h2>
    <p>나의 프로필 정보를 확인할 수 있습니다</p>
</div>
<br/>
<div class="contents" style="text-align: center; ; width: 500px; margin: 0 auto;">
    {% if user.nickname == '' %}
    <b>설정된 닉네임이 없습니다.</b>
    <b>수정하기를 눌러 설정해주세요!</b>
    {% else %}

    <table class="type03">
        <!--            <tr>-->
        <!--                <th scope="row">가입 유형</th>-->
        <!--                <td>{{ user.username }}</td>-->
        <!--            </tr>-->
        <tr>
            <th scope="row">아이디</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th scope="row">닉네임</th>
            <td>{{ user.nickname }}</td>
        </tr>
        <tr>
            <th scope="row">선호지역</th>
            <td>{{ user.city }} {{ user.gu }}</td>
        </tr>
        <tr>
            <th scope="row">가입 날짜</th>
            <td>{{ user.created_on }}</td>
        </tr>
    </table>
    {% endif %}
    <!--        <p><b>닉네임</b> {{ user.nickname }}</p>-->

    <!--        <b>선호 지역 : {{ user.city }} {{ user.gu }}</b>-->
    <!--        <p>이메일: {{ user.email }}</p>-->
    <!--        <p>가입 날짜: {{ user.created_on }}</p>-->


    <button type="button">
        <a href="{% url 'login:update' user.pk %}">수정하기</a>
    </button>
<!--    <button type="button">-->
<!--        <a href="{% url 'login:main' %}">메인으로</a>-->
<!--    </button>-->

    {% if creator is None %}
    <button type="button" style="width: 140px!important;">
        <a href="{% url 'login:create_creator' %}">크리에이터 등록</a>
    </button>
    {% else %}
    <button type="button" style="width: 140px!important;">
        <a href="{% url 'login:creator_mypage' user.pk %}">크리에이터 페이지</a>
    </button>
    {% endif %}
    <br/>
    <div id="user_pk_section" style="display:none">{{user.pk}}</div>
    <!--    <button type="button" style="width: 140px!important;">-->
    <!--    <a href="/accounts/logout" id='logout_btn'>로그아웃</a>-->
    <!--    </button>-->
    <a href="{% url 'login:delete' user.pk %}" id="delete_btn">
        <button type="button" style="width: 140px!important;">
            계정 삭제
        </button>
    </a>
    <br/><br/><br/>
</div>
{% endblock %}

{% block hanseokscript %}
<script>
    let user_pk_tag = document.querySelector('#user_pk_section')
    let user_pk = user_pk_tag.textContent
    let returnUrl = '/login/' + user_pk

    let delete_btn = document.querySelector('#delete_btn')
    // delete_btn.addEventListener('click', function () {
    //    confirm('정말 계정을 삭제하시겠습니까?\n확인을 누르면 되돌릴 수 없습니다!')
    // }) 

    delete_btn.onclick = function() {
        let confirm_result = confirm("정말 계정을 삭제하시겠습니까?\n되돌릴 수 없습니다.");
        if (confirm_result === false) {
            document.querySelector('#delete_btn').setAttribute('href', returnUrl)
        }
    }

    let logout_btn = document.querySelector('#logout_btn')
    // logout_btn.addEventListener('click', function () {
    //  confirm('로그아웃 하시겠습니까?')

    logout_btn.onclick = function() {
        let confirm_result = confirm("로그아웃을 하시겠습니까?");   
        if(confirm_result === false){
            document.querySelector('#logout_btn').setAttribute('href',returnUrl)
        } 
    }

</script>
{% endblock %}

