{% extends 'base.html' %}

{% block main %}
<div class="signup_title" style="margin-top: 50px; text-align: center;">
    <h3 style="color: #0080ff;">Sign up</h3>
    <p>아래 정보를 입력하시면 가입이 완료됩니다</p>
</div>
<div class="signup_form" style="margin-bottom: 100px;">
    <form method="post" enctype="multipart/form-data" autocomplete="off" style="margin: 0 auto;">
        {% csrf_token %}
        <table class="additional_info">
            <tr>
                <td>아이디</td>
<!--                <td><input type="text" name="username" value="{{user.username}}" required-->
<!--                placeholder="아이디를 입력해주세요"/></td>-->
                <td><input type="text" class="username_input" name="username" check_result="fail" required
                    placeholder="아이디를 입력해주세요"/>
                <button type="button" class="id_overlap_button" onclick="id_overlap_check()">중복검사</button>
<!--                <img id="id_check_success" style="display: none;">-->
                <button type="button" id="id_check_success" style="display: none;">확인완료</button></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password1" value="{{user.password}}" required
                placeholder="비밀번호를 입력해주세요" required minlength="4"/></td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><input type="password" name="password2" required
                placeholder="위와 동일하게 입력해주세요" required minlength="4"/></td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td><input type="text" name="nickname" value="{{user.nickname}}" required
                placeholder="닉네임을 입력해주세요"/></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" name="email" value="{{user.email}}" required
                placeholder="이메일을 입력해주세요"/></td>
            </tr>
            <tr>
<!--                <td>선호도시</td>-->
<!--                <td><label>-->
<!--                    <select id='selected_city' name='city' required>-->
<!--                        <optgroup label='시'>-->
<!--                            <option>선택</option>-->
<!--                            <option value='서울특별시'>서울특별시</option>-->
<!--                        </optgroup>-->
<!--                    </select>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>선호구</td>-->
<!--                <td><label>-->
<!--                    <select id='selected_gu' name='gu' required>-->
<!--                        <optgroup label='구'>-->
<!--                            <option>선택</option>-->
<!--                            <option value='강남구'>강남구</option>-->
<!--                            <option value='송파구'>송파구</option>-->
<!--                            <option value='서초구'>서초구</option>-->
<!--                            <option value='강동구'>강동구</option>-->
<!--                            <option value='관악구'>관악구</option>-->
<!--                            <option value='영등포구'>영등포구</option>-->
<!--                            <option value='강서구'>강서구</option>-->
<!--                            <option value='양천구'>양천구</option>-->
<!--                            <option value='구로구'>구로구</option>-->
<!--                            <option value='금천구'>금천구</option>-->
<!--                            <option value='종로구'>종로구</option>-->
<!--                            <option value='중구'>중구</option>-->
<!--                            <option value='동대문구'>동대문구</option>-->
<!--                            <option value='중랑구'>중랑구</option>-->
<!--                            <option value='마포구'>마포구</option>-->
<!--                            <option value='용산구'>용산구</option>-->
<!--                            <option value='성동구'>성동구</option>-->
<!--                            <option value='광진구'>광진구</option>-->
<!--                            <option value='은평구'>은평구</option>-->
<!--                            <option value='서대문구'>서대문구</option>-->
<!--                            <option value='성북구'>성북구</option>-->
<!--                            <option value='강북구'>강북구</option>-->
<!--                            <option value='도봉구'>도봉구</option>-->
<!--                            <option value='노원구'>노원구</option>-->


<!--                        </optgroup>-->
<!--                    </select>-->
<!--                </label></td>-->
                                <td>선호도시</td>
                <td>
<!--                        <label for="city">도시 선택</label>-->
                    <select
                            name="city"
                            id="city"
                            onchange="addressKindChange(this)"
                            class="selected_city"
                    >
                        <option>도시를 선택해주세요</option>
                        <option value="서울특별시">서울특별시</option>
                    </select>
                </div>
                </td>
            <tr/>
            <tr>
                <td>선호구</td>
                <div class="choose_gu" style="margin-top: 1rem;">
                    <td>
<!--                        <label for="gu">구 선택</label>-->
                        <select name="gu" id="gu" class="selected_gu">
                            <option>구를 선택해주세요</option>
                        </select>
                </div>
                </td>
            </tr>
        </table>
        <button type="submit"
                style="margin: 0 auto; text-align: center!important; margin-top: 50px;  height: 50px; width: 130px; border:none; border-radius: 10px;color: white; ">
            회원가입
        </button>
    </form>
</div>

{% endblock %}


{% block hanseokscript %}
<script>
    function id_overlap_check() {

        $('.username_input').change(function () {
            $('#id_check_success').hide();
            $('.id_overlap_button').show();
            $('.username_input').attr('check_result', "fail");
        })

        if ($('.username_input').val() == '') {
            alert('아이디를 입력해주세요')
            return;
        }

        if ($('.username_input').attr("check_result") == "fail"){
            alert('아이디 중복체크를 해주세요');
            $('.username_input').focus();
            return false;
        }

        id_overlap_input = document.querySelector('input[name="username"]');

        $.ajax({
            url: "{% url 'login:id_overlap_check' %}",
            data: {
                'username': id_overlap_input.value
            },
            datatype: 'json',
            success: function (data) {
                console.log(data['overlap']);
                if (data['overlap'] == "fail") {
                    alert("이미 존재하는 아이디입니다");
                    id_overlap_input.focus();
                    return;
                } else {
                    alert('사용가능한 아이디입니다');
                    $('.username_input').attr('check_result', "success");
                    $("#id_check_success").show();
                    $('.id_overlap_button').hide();
                    return;
                }
            }
        });



    }




    function addressKindChange(e) {
        let city;
        let seoul = [
            "강남구",
            "송파구",
            "서초구",
            "강동구",
            "관악구",
            "영등포구",
            "강서구",
            "양천구",
            "구로구",
            "금천구",
            "종로구",
            "중구",
            "동대문구",
            "중랑구",
            "마포구",
            "용산구",
            "성동구",
            "광진구",
            "은평구",
            "서대문구",
            "성북구",
            "강북구",
            "도봉구",
            "노원구",
        ];
        let target = document.querySelector("#gu");

        if (e.value == "서울특별시") {
            city = seoul;
        }
        for (x in city) {
            let opt = document.createElement("option");
            opt.value = city[x];
            opt.innerHTML = city[x];
            target.appendChild(opt);
        }
    }

    let save_btn = document.querySelector('#save_btn')
    save_btn.addEventListener('click', function () {
        alert('회원가입이 완료되었습니다.')
    })
    // save_btn.onclick = function() {
    //     confirm("회원가입이 완료되었습니다.");
    // }

</script>


{% endblock %}