{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block main %}
<div class="content" style="margin: 50px auto; border: 1px solid lightgray;  width: 600px; border-radius: 30px;">
    <!--    <div class="shadow p-3 mb-5 bg-white rounded"-->
    <!--         style="margin: 0 auto; text-align: center; margin-top: 50px; width: 500px; height: 60px; border: 1px solid #0080ff; background-color: #0080ff!important; border-radius: 10px;">-->
    <!--        <a href="/accounts/signup" style="text-decoration: none; color: white;">회원가입</a>-->
    <!--        <br>-->
    <!--    </div>-->
    <!--    <hr/>-->
    <br/><br/>
    <div class="shadow p-3 mb-5 bg-white rounded"
         style="margin: 0 auto; text-align: center; width: 500px; height: 60px; background-color: white!important; border-radius: 10px;">
        <a href="{% url 'login:signup_form' %}" style="color: black;">일반 계정으로
            회원가입하기</a>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded"
         style="margin: 0 auto; text-align: center; width: 500px; height: 60px; background-color: white!important; border-radius: 10px;">
        <a href="{% provider_login_url 'google' %}" style="color: black;"><img src="/static/img/google.jpg"
                                                                               alt="google"
                                                                               style="height: 40px; width: 40px; margin-right: 10px;">구글로
            회원가입하기</a>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded"
         style="margin: 0 auto; text-align: center; width: 500px; height: 60px; background-color: white!important; border-radius: 10px;">
        <a href="{% provider_login_url 'naver' %}" style="color: black;"><img src="/static/img/naver.png" alt="kakao"
                                                                              style="height:30px; width: 30px; margin-right: 10px; ">네이버로
            회원가입하기</a>
    </div>
    <hr/>
    <div style="text-align: center;">
        <b>이미 회원이신가요?</b> <br/>
        <br/>
        <a href="{% url 'login:login' %}">로그인</a>
    </div>
    <br/>

</div>
{% endblock %}
