body {
    background-color:rgba(255, 255, 255, 0.904);
}

.text-center {
    margin-top:50px;
}

.container_wrapper {
     background: #f9f9f9; /* Old browsers */
     background: -moz-radial-gradient(center, ellipse cover,  #f9f9f9 1%, #ffffff 10%, #f6f6f6 29%, #e0ddce 100%); /* FF3.6-15 */
     background: -webkit-radial-gradient(center, ellipse cover,  #f9f9f9 1%,#ffffff 10%,#f6f6f6 29%,#e0ddce 100%); /* Chrome10-25,Safari5.1-6 */
     background: radial-gradient(ellipse at center,  #f9f9f9 1%,#ffffff 10%,#f6f6f6 29%,#e0ddce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0ddce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
     padding:10px 0;
}

a, a:hover {
    text-decoration: none;
}
/* --------------------------------------------- */


/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item  {
    color:black;
    width: 80%;
    padding: 50px;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.5 );
}

.grid-item {
    border-top: 2px solid rgba(31, 152, 223, 0.507);
    border-bottom: 2px solid rgba(31, 152, 223, 0.507);
}

.flex-item p:first-child {
    font-size: 50px;
    font-weight: bold;
}

#creator_name {
    font-family: 'Jua', sans-serif;
    font-size:4rem;
    font-weight: lighter;
}

#genre {
    color: rgb(59, 54, 48);
    font-size:2.5rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    margin-bottom:5px;
}
/* --------------------------------------------- */


/* content */
.first_content {
    margin-bottom: 50px;
}
.content_1, .content_2 {
    margin-top: 30px !important;
}

#event_name{
    padding-bottom: 20px;
    color: rgb(53, 49, 45);
    font-size:2rem;
    font-family: 'Yeon Sung', cursive;
}

#event_name a{
    padding-bottom: 20px;
    color: rgb(53, 49, 45);
    font-size:2rem;
    font-family: 'Yeon Sung', cursive;
}

#event_name a:hover{
    padding-bottom: 20px;
    color: rgb(17, 5, 119);
    font-size:2rem;
    font-family: 'Yeon Sung', cursive;
}

#event_time, #event_location {
    font-size:1.1rem;
    margin-bottom:3px;
}
#event_desc {
    margin-top:10px;
}

/* content_1 */
.carousel {
    width: 100%; height: 100%;
}

.carousel .carousel-inner {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .carousel-inner .carousel-item {
    position: relative;
    max-height:500px; 
    text-align:center;

}
.carousel .carousel-inner .carousel-item .imgwrapper {
    height:inherit;
}

.carousel .carousel-inner .carousel-item img{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    max-width: 570px;
    width: auto; height: auto; 
}

/* content_2 */
.content_2 {
    display: grid;
}

.content_2 .grid-item {
    width: inherit;
    padding:0px;
    margin: auto;
}

#title{
    color:black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 2.5rem;
}
#tag_name {
    font-style: italic;
}
#tag_name a {
    text-decoration: none;
    color: rgb(33, 33, 138);
}
#tag_name a:hover {
    text-decoration: none;
    color: indigo;
}
/* --------------------------------------------- */


/* event history */
.history {
    border-top: 2px solid rgba(5, 4, 59, 0.507);
    border-bottom: 2px solid rgba(5, 4, 59, 0.507);
    padding-top:10px;
}

.history .history_event {
    margin-bottom:30px;

}

.history_col:nth-child(2) {
    height:inherit;
}

.history_imgs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 200px;
    max-width: 285px;
    width: auto; height: auto; 
}
/* --------------------------------------------- */

/* comment */
.comment_user {
    width:100px;
    /* float: left; */
}

.grid2 {
    position: relative;
}

.comment_list .row{
    margin-bottom: 80px;
    text-align: center;
}

.comment_list .row .grid2 .left {
    text-align: left;
    float: left;
}
.comment_list .row .grid2 .right {
    text-align: right;
    float:right;
}


/* 말풍선 css */
.speech-bubble1 {
	position: relative;
	background: #d1ebff;
    border-radius: .4em;
    padding:20px;
    margin-right:10px !important;
}
.speech-bubble1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-right-color: #d1ebff;
	border-left: 0;
	border-top: 0;
	margin-top: -12px;
	margin-left: -24px;
}

.speech-bubble2 {
	position: relative;
	background: #d1ebff;
    border-radius: .4em;
    padding:20px;
    margin-left:10px !important;
}
.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-left-color: #d1ebff;
	border-right: 0;
	border-top: 0;
	margin-top: -12px;
	margin-right: -24px;
}

/* --------------------------------------------- */