.registering {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

#tag_input {
    width: 100%;
}

#enroll_btn {
    margin-top: 20px;
    height: 40px;
}

.registering .wrap {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.registering .wrap .choose_section {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
}

.choose_section button {
    width: 97%;
    margin-top: 1rem;
}

.map_wrap {
    position: relative;
    width: 50%;
    height: 350px;
    margin-bottom: 2rem
}

#map {
    width: 100%;
    height: 350px;
}

.hAddr {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 5px;
}

.hAddr .title {
    font-weight: bold;
    display: block;
}

.hAddr #centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.registering h1 {
    color: #0080ff;
    font-size: 2.2rem;
}

.registering h4 {
    font-size: 1.2rem;
}

#event_info form {
    margin: 0 auto;
    max-width: 900px !important;
}

#enroll_btn {
    margin-left: 45%;
    border: none;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #0080ff;
}

#enroll_btn:hover {
    background-color: #3875d7;
}