body {
}

.about-search-data{
    width: 80%;
    margin:1rem auto;
}

.about-search-data p{
    margin : 0 auto;
}

.events-container{
    width: 100%;
    display:flex;
    flex-direction : column;
    align-items: center;
}

.s_event-container{
    width:80%;
    display:flex;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
    border: 1px solid black;
}