body {
}

.container {
    margin-top: 30px;
}

.top-desc {
    width: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#not-found-img {
    width: 5rem;
}

.events-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s_event-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    /*margin-bottom: 30px;*/
    float: right;
    border: 1px dashed #dd445b;
    padding: 25px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

#left_section {
    width: 60%;
}

#right_section {
    width: 35%;
}

#left_section #tag-box {
    display: inline-block;
    font-size: 0.8rem;
    color: #fd8b83;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fd8b83 ;
    text-align: center;
    padding: 0.3rem 0.3rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

#left_section a {
    text-decoration: none;
    /*color: white;*/
}

#left_section #tag-box:hover {
    background-color: #fd8b83;
    color: white;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

.s_event-container #event_name {
    font-size: 2rem;
    color: #dd445b;
    font-weight: bold;
}

.s_event-container #creator_name {
    font-size: 1.2rem;
    color: #7E526b;
}

/*#like {*/
/*    display: inline-block;*/
/*    font-size: 0.8rem;*/
/*    color: darkgray;*/
/*    background-color: white;*/
/*    border-radius: 5px;*/
/*    border: 1px solid darkgray;*/
/*    text-align: center;*/
/*    padding: 0.3rem 0.3rem;*/
/*    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);*/
/*}*/

.like{
    cursor:pointer;
}