main {
    /*background-image: url("/static/img/haha.jpg");*/
    /*background-size: auto;*/
    background-color: white;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

}


.entire_wrapper {
    /*padding: 5px;*/
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    /*border: 2px solid #fd8b83 ;*/

}

.container_wrapper {
    /* margin: 4rem 15rem 0; */
    margin-top: 5%;
    padding: 30px;
}
.container_wrapper a button {
  font-size: medium;
}

.container_wrapper a button {
    font-size: medium;
}


.container_wrapper2 {
    padding: 30px;
    /*margin: 4rem 15rem 0;*/

}

.container_wrapper span {
    /*color: #fd8b83;*/
}

.container_wrapper2 {
    text-align: center;
}


.select_box1 {
    /*text-align: center;*/
}

.select_box2 {
    text-align: center;
}

.select_box3 {
    text-align: center;

}


.main {
    /*margin:4rem 15rem 0;*/
}

.hovereffect img {
    position: absolute;
    /*float:left; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /*max-height: 200px;*/
    /*max-width: 285px;*/
    /*width: auto; height: auto;  */
    width: 24rem;
    height: 24rem;
    /*position: relative;*/
    /*cursor: default; */

}

#eventheader1, #eventheader2, #eventheader3 {
    text-align: center;
}

.row div {
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.buttons a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.buttons {
    text-align: center;
}

.filter_btn {
    width: 80px;
    height: 35px;
    border: 1px solid #fd8b83;
    background-color: white;
    border-radius: 10px;
    color: #fd8b83;
}

.filter_btn:hover {
    background-color: #fd8b83;
    color: white;
}

.event_header {
    margin-left: 10px;
    border-left: 2px solid #dd445b;
    padding: 5px;
}

.event_header h3 {
    margin-left: 5px;
}

.container1 {
    padding: 20px;
    border: 1px dashed #dd445b;
    border-radius: 20px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

.container2 {
    padding: 20px;
    border: 1px dashed #dd445b;
    border-radius: 20px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

.container3 {
    padding: 20px;
    border: 1px dashed #dd445b;
    border-radius: 20px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

/* 여기서 부터 인지가 보내준 사이트 참고~ */

.hovereffect {
    width: 100%;
    /*height: 100%;*/
    /*float: left; */
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 10px;

}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    right: 0;
    top: 3rem;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    width: 100%;
    transition: all 0.35s;
    border-radius: 10px;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
