{% extends 'base.html' %} {% load static %} {% block custom_style %}
<link rel="stylesheet" href="{% static 'location/css/location.css' %}" />
{% endblock %} {% block main %}
<div class="map_wrap">
  <div id="map"></div>
  <div class="hAddr">
    <!-- <span class="title" style="font-weight: bold; display: block;"
      >지도중심기준 행정동 주소정보</span
    > -->
    <span id="centerAddr"></span>
    <!-- 템플릿 변수를 자바스크립트 파일에 전달하기 위한 구역 -->
    <div class="template_variable_section">
        <div class="template_variable_city">{{prefer_city}}</div>
        <div class="template_variable_gu">{{prefer_gu}}</div>
    </div>
  </div>
</div>
{% endblock %} {% block jinheescript%}
<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4be94fffa6f06598b351be42b3a70113&libraries=services"
></script>
<script src={% static 'location/js/map_list.js' %}></script>
{% endblock %}
