li {
  list-style: none;
}

#category_list {
  padding-left: 0;
  display: flex;
  margin-top: 2rem;
}

#category_list li {
  margin-right: 2rem;
}

.container-fluid {
  margin-top: 1rem;
}
#event_content_wrap {
  display: inline-block;
  padding: 2rem;
}

#event_wrap:nth-child(n) {
  margin-bottom: 2rem;
}

.map_wrap {
  position: relative;
  width: 50%;
  height: 39rem;
  float: right;
}

#map {
  width: 100%;
  height: 39rem;
}

.hAddr {
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px;
}

#centerAddr {
  display: block;
  font-weight: bold;
}

.template_variable_section {
  display: none;
}
