.row div {
  margin: 0;
}

li {
  list-style: none;
}

#category_list {
  padding-left: 0;
  display: flex;
}

#category_list li {
  margin-right: 2rem;
}

.container-fluid {
  margin-top: 1rem;
}

#event_wrap .event_post {
  margin-top: 2rem;
}

#event_content_wrap {
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}

#event_title_wrap {
  padding-top: 1rem;
}

.event_image_section {
  display: inline-block;
  padding: 0;
}

.event_image_section img {
  width: 15rem;
  height: 15rem;
  padding: 0;
}

.event_content {
  margin-bottom: 0.5rem;
}

.event_content:nth-child(4),
.event_content:nth-child(5),
.event_content:nth-child(6) {
  display: inline-block;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 39rem;
}

.hAddr {
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px;
}

#centerAddr {
  display: block;
  font-weight: bold;
}

.template_variable_section {
  display: none;
}
